*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
/app/src/main/assets/net.wiltontoolkit.android/std.wlib
/app/src/main/assets/net.wiltontoolkit.android/examples
/app/src/main/assets/net.wiltontoolkit.android/wilton
