*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
/app/src/main/assets/wilton.android/std.wlib
/app/src/main/assets/wilton.android/examples
/app/src/main/assets/wilton.android/wilton
/app/src/main/assets/wilton.android/wilton.version
